{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{first_article.name}}</h1>
    <p>{{first_article.desc}}</p>
    <p><a class="btn btn-primary btn-lg" href="/{{first_article.id}}" role="button">View details &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>{{second_article.name}}</h2>
      <p>{{second_article.desc}} </p>
      <p><a class="btn btn-secondary" href="/{{second_article.id}}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>{{third_article.name}}</h2>
      <p>{{third_article.desc}} </p>
      <p><a class="btn btn-secondary" href="/{{third_article.id}}" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>{{fourth_article.name}}</h2>
      <p>{{fourth_article.desc}}</p>
      <p><a class="btn btn-secondary" href="/{{fourth_article.id}}" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

<!-- Twitter Embedded List Timeline https://dev.twitter.com/web/embedded-timelines/list -->
<div class="twitter_container">
  <div class="row">
    <div class="col-md-12">
        <iframe
        id="twitter-widget-0"
        scrolling="no"
        frameborder="0"
        allowtransparency="true"
        allowfullscreen="true"
        class="twitter-timeline twitter-timeline-rendered"
        data-widget-id="list:TwitterDev:national_parks"
        style="
            position: static;
            visibility: visible;
            display: inline-block;
            width: 520px;
            height: 400px;
            padding: 0px;
            border: none;
            max-width: 100%;
            min-width: 180px;
            margin-top: 0px;
            margin-bottom: 0px;
            min-height: 200px;"
        title="Twitter Timeline">
        </iframe>
    </div>
    <div class="col-md-12">
        <a class="twitter-timeline"
            href="national-parks">
            Tweets from https://twitter.com/twitter/lists/official-twitter-accts
        </a>
    </div>
  </div>
</div>
{% endblock %}
